<div
  class="checklist-item-component"
  ng-class="{
    'checklist-item-component__is-active': vm.item.isActive
  }">
  <div class="checklist-item--content-wrapper">
    <h1 class="checklist-item-component--task">
      {{::vm.item.title}}
    </h1>
    <p class="checklist-item-component--description">
      {{::vm.item.description}}
    </p>
  </div>
  <div class="checklist-item--actions-wrapper">
    <input
      class="checklist-item--toggler"
      type="checkbox"
      ng-model="vm.item.isComplete"
      ng-disabled="!vm.item.isActive"
      ng-change="vm.completeItem()" />
  </div>
</div>
